<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products$|async">
    <td>{{ product.id }}</td>
    <td>{{ product.title }}</td>
    <td>{{ product.desc }}</td>
    <td>
      <button type="button" class="btn green">Modifier</button>
      <button type="button" class="btn red">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>

<button type="button" (click)="$store.dispatch(ProductActions.next())">next</button>
<button type="button" (click)="$store.dispatch(ProductActions.previous())">previous</button>
