<sign-in></sign-in>
<div class="row">
  <div class="col s8">
    <product-list></product-list>
  </div>
  <div class="col s4">
<!--    <router-outlet></router-outlet>-->
    <product-create (create)="handleProductCreate($event)"></product-create>
  </div>
</div>
