<div class="input-field">
  <input [type]="Type" [value]="value" (input)="handleInput($event.target)" (touchend)="onTouchedFn($event)" [disabled]="Disabled" [placeholder]="Placeholder">
  <label [for]="For">{{ Label }}</label>

  <div class="red-text">
    <h1><ng-content select="#title"></ng-content></h1>
    <ng-content select="p"></ng-content>
  </div>
</div>
