<form [formGroup]="fCreate" (ngSubmit)="handleSubmit()">
<!--  <div class="input-field">-->
<!--    <input type="text" id="title" name="title" [formControl]="fCreate.getControl('title')">-->
<!--    <label for="title">Title</label>-->
<!--  </div>-->
<!--  <div class="input-field">-->
<!--    <input type="text" id="desc" name="desc" [formControl]="fCreate.getControl('desc')">-->
<!--    <label for="desc">Description</label>-->
<!--  </div>-->
  <form-input label="Title" type="text" [formControl]="fCreate.getControl('title')">
  </form-input>
  <form-input label="Description" type="text" [formControl]="fCreate.getControl('desc')"></form-input>
  <button type="submit">Ajouter</button>
</form>
